body{
    background-color: rgb(105, 133, 133);
}

#container{
    width: 800px;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
    background-color: white;
}

.cabecalho{
    /*background-color: rgb(160, 202, 202);*/
    padding-top: 30px;
    width: 800px;
    height: 100px;
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
    color: black;
    font-weight: bold;
    background-image:url("../imagens/banner.jpg");
    background-size: cover;
}

#menuhorizontal{
    text-align: center;
    background-color: rgb(68, 117, 119);
    width: 800px;
    height: 40px;
    font-family: Arial;
    font-size: 14px;
    color: white;
    padding-top: 10px;
}

#menuvertical{
    width: 200px;
    float: left;
    background-color: rgb(138, 175, 175);
    height: 300px;
}

#conteudo{
    width: 400px;
    float: left;
    background-color: white;
    height: 300px;
}

#rodape{
    background-color: teal;
    width: 800px;
    height: 100px;
    clear: both;
}

#menuhorizontal ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#menuhorizontal ul li{
    display: inline;
}

#menuhorizontal ul li a{
    padding: 2px 0px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;    
}

#menuhorizontal ul li a:hover{
    color: #a2d4d8;
    border-bottom: 5px solid rgb(90, 197, 205);    
}

